__pycache__
chroma
.env

# Ignore log folder
log

# Ignore tech info file
tech_info.md

# Ignore all files in the conversation directory
# except for the case_study directory
conversation/*
!conversation/case_study/