aiohappyeyeballs @ file:///C:/b/abs_e9fm5mk6ak/croot/aiohappyeyeballs_1734469429350/work
aiohttp @ file:///C:/b/abs_d4_gdjffav/croot/aiohttp_1734687146788/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
annotated-types @ file:///C:/b/abs_0dmaoyhhj3/croot/annotated-types_1709542968311/work
anyio @ file:///C:/b/abs_31grv7a7bl/croot/anyio_1729121290992/work
asgiref @ file:///C:/b/abs_ae1n0p_8_w/croot/asgiref_1724072476516/work
async-timeout @ file:///C:/b/abs_c8fgiuixkq/croot/async-timeout_1703097556097/work
attrs @ file:///C:/b/abs_89hmquz5ga/croot/attrs_1734533130810/work
backoff @ file:///C:/b/abs_536uqkuxf5/croot/backoff_1693552564304/work
bcrypt @ file:///D:/bld/bcrypt_1732074850185/work
beautifulsoup4 @ file:///C:/b/abs_d5wytg_p0w/croot/beautifulsoup4-split_1718029833749/work
blinker @ file:///C:/b/abs_d9y2dm7cw2/croot/blinker_1696539752170/work
Brotli @ file:///C:/b/abs_3d36mno480/croot/brotli-split_1714483178642/work
build @ file:///home/conda/feedstock_root/build_artifacts/python-build_1733230610871/work
cachetools @ file:///C:/b/abs_792zbtc0ua/croot/cachetools_1713977157919/work
certifi @ file:///C:/b/abs_8a944p1_gn/croot/certifi_1738623753421/work/certifi
cffi @ file:///C:/b/abs_90yq4lmu83/croot/cffi_1726856448345/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
chroma-hnswlib @ file:///D:/bld/chroma-hnswlib_1725528011089/work
chromadb @ file:///home/conda/feedstock_root/build_artifacts/chromadb_1740753528870/work
click @ file:///C:/b/abs_f9ihnt72pu/croot/click_1698129847492/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
coloredlogs @ file:///C:/b/abs_5161rq1a7g/croot/coloredlogs_1709248519941/work
cryptography @ file:///C:/b/abs_e2lzchf4i6/croot/cryptography_1732130411942/work
dataclasses-json @ file:///C:/b/abs_395krnbkif/croot/dataclasses-json_1715264816394/work
Deprecated @ file:///C:/ci_311/deprecated_1676449537441/work
distro @ file:///C:/b/abs_71xr36ua5r/croot/distro_1714488282676/work
durationpy @ file:///home/conda/feedstock_root/build_artifacts/durationpy_1734343542351/work
fastapi @ file:///C:/b/abs_96d9k5nptn/croot/fastapi_1724789169469/work
filelock @ file:///C:/b/abs_f2gie28u58/croot/filelock_1700591233643/work
flatbuffers @ file:///C:/b/abs_7f2_85svxz/croot/python-flatbuffers_1722369110965/work
frozenlist @ file:///C:/b/abs_06ctmb1zeo/croot/frozenlist_1730903113463/work
fsspec @ file:///C:/b/abs_02vh2bpxfo/croot/fsspec_1724855601370/work
gmpy2 @ file:///C:/ci_311/gmpy2_1677743390134/work
google-api-core @ file:///C:/b/abs_10ij5agyxh/croot/google-api-core-split_1722026812083/work
google-auth @ file:///C:/b/abs_059sl2dhu6/croot/google-auth_1715111206543/work
googleapis-common-protos @ file:///C:/b/abs_f1lgpb_u6_/croot/googleapis-common-protos-feedstock_1722026798834/work
greenlet @ file:///C:/b/abs_bbl_18a2tm/croot/greenlet_1733860081977/work
groq @ file:///home/conda/feedstock_root/build_artifacts/groq_1736609734674/work
grpcio @ file:///D:/bld/grpc-split_1695803540385/work
h11 @ file:///C:/b/abs_1czwoyexjf/croot/h11_1706652332846/work
httpcore @ file:///C:/b/abs_55n7g233bw/croot/httpcore_1706728507241/work
httptools @ file:///C:/b/abs_10cpmfvnf8/croot/httptools_1732546890489/work
httpx @ file:///C:/b/abs_43e135shby/croot/httpx_1723474830126/work
httpx-sse @ file:///C:/b/abs_35vrjlkfq0/croot/httpx-sse_1734629697200/work
huggingface_hub @ file:///C:/b/abs_6f4hr2sio5/croot/huggingface_hub_1724853960198/work
humanfriendly @ file:///C:/ci_311/humanfriendly_1676441479307/work
idna @ file:///C:/b/abs_aad84bnnw5/croot/idna_1714398896795/work
importlib-metadata @ file:///C:/b/abs_c1egths604/croot/importlib_metadata-suite_1704813568388/work
importlib_resources @ file:///C:/b/abs_e9f8_0_2dq/croot/importlib_resources-suite_1720641112288/work
jiter @ file:///C:/b/abs_acsxrw36a6/croot/jiter_1729808947806/work
jsonpatch @ file:///C:/b/abs_4fdm88t7zi/croot/jsonpatch_1714483974578/work
jsonpointer==2.1
kubernetes @ file:///home/conda/feedstock_root/build_artifacts/python-kubernetes_1734343772689/work
langchain @ file:///home/conda/feedstock_root/build_artifacts/langchain_1739865265120/work
langchain-chroma==0.2.0
langchain-community @ file:///home/conda/feedstock_root/build_artifacts/langchain-community_1740050045764/work
langchain-core @ file:///home/conda/feedstock_root/build_artifacts/langchain-core_1740550187282/work
langchain-groq @ file:///home/conda/feedstock_root/build_artifacts/langchain-groq_1738228279157/work
langchain-ollama==0.2.2
langchain-openai @ file:///home/conda/feedstock_root/build_artifacts/langchain-openai_1740561407956/work
langchain-text-splitters @ file:///home/conda/feedstock_root/build_artifacts/langchain-text-splitters_1738956682801/work
langgraph @ file:///home/conda/feedstock_root/build_artifacts/langgraph_1740834697944/work
langgraph-checkpoint @ file:///home/conda/feedstock_root/build_artifacts/langgraph-checkpoint_1737014482250/work
langgraph-prebuilt @ file:///home/conda/feedstock_root/build_artifacts/langgraph-prebuilt_1740776245229/work
langgraph-sdk @ file:///home/conda/feedstock_root/build_artifacts/langgraph-sdk_1734573883299/work
langsmith @ file:///home/conda/feedstock_root/build_artifacts/langsmith_1737099297406/work
markdown-it-py @ file:///C:/b/abs_a5bfngz6fu/croot/markdown-it-py_1684279915556/work
marshmallow @ file:///C:/b/abs_2a28q2ehfk/croot/marshmallow_1682620739649/work
mdurl @ file:///C:/ci_311/mdurl_1676442676678/work
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
mmh3 @ file:///C:/b/abs_b993uvqd48/croot/mmh3_1725906203798/work
monotonic==1.5
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
msgpack @ file:///D:/bld/msgpack-python_1725975250448/work
multidict @ file:///C:/b/abs_19e3ubo2ew/croot/multidict_1730905504444/work
mypy-extensions @ file:///C:/b/abs_8f7xiidjya/croot/mypy_extensions_1695131051147/work
numexpr @ file:///C:/b/abs_05o8p7bfml/croot/numexpr_1730215959182/work
numpy @ file:///C:/b/abs_c1ywpu18ar/croot/numpy_and_numpy_base_1708638681471/work/dist/numpy-1.26.4-cp311-cp311-win_amd64.whl#sha256=5dfd3e04dc1c2826d3f404fdc7f93c097901f5da9b91f4f394f79d4e038ed81d
oauthlib @ file:///C:/b/abs_44riqpe5gg/croot/oauthlib_1679489644705/work
ollama @ file:///home/conda/feedstock_root/build_artifacts/ollama-python_1737517847556/work
onnxruntime @ file:///C:/b/abs_daxutpl0sn/croot/onnxruntime_1711063074450/work/build-ci/Release/dist/onnxruntime-1.17.1-cp311-cp311-win_amd64.whl#sha256=f3d2e832e56db7c0110ee5bfeb0c1186555eebd0fa1e4a8ac89117e5410a3be3
openai @ file:///home/conda/feedstock_root/build_artifacts/openai_1736798903406/work
openapi-schema-pydantic @ file:///C:/b/abs_096qwt5_27/croot/openapi-schema-pydantic_1682536037030/work
opentelemetry-api @ file:///C:/b/abs_1655y_bz9c/croot/opentelemetry-api_1724767682252/work
opentelemetry-exporter-otlp-proto-common @ file:///C:/b/abs_737zbt5fso/croot/opentelemetry-exporter-otlp-proto-common_1732663518619/work
opentelemetry-exporter-otlp-proto-grpc @ file:///C:/b/abs_32tqiiootx/croot/opentelemetry-exporter-otlp-proto-grpc_1732718831756/work
opentelemetry-instrumentation @ file:///C:/b/abs_d7oks0wxgx/croot/opentelemetry-instrumentation_1731009819358/work
opentelemetry-instrumentation-asgi @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-instrumentation-asgi_1721988533124/work
opentelemetry-instrumentation-fastapi @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-instrumentation-fastapi_1721995809025/work
opentelemetry-proto @ file:///C:/b/abs_422u684g5l/croot/opentelemetry-proto_1725027168391/work
opentelemetry-sdk @ file:///C:/b/abs_e4ry7aunf9/croot/opentelemetry-sdk_1728051021329/work
opentelemetry-semantic-conventions @ file:///C:/b/abs_e43n8lhb0g/croot/opentelemetry-semantic-conventions_1725003929685/work
opentelemetry-util-http @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-util-http_1721974238078/work
orjson @ file:///C:/b/abs_55meqbxvgt/croot/orjson_1728487175612/work/target/wheels/orjson-3.10.7-cp311-none-win_amd64.whl#sha256=c1eea57557504f899add369edb2be24ab57c7b28ca9da0318830f61c7c2aca49
overrides @ file:///C:/b/abs_cfh89c8yf4/croot/overrides_1699371165349/work
packaging @ file:///C:/b/abs_3by6s2fa66/croot/packaging_1734472138782/work
posthog @ file:///home/conda/feedstock_root/build_artifacts/posthog_1726036274425/work
propcache @ file:///C:/b/abs_d6o8xbonwb/croot/propcache_1732304003668/work
proto-plus @ file:///C:/b/abs_c6ngu_yuou/croot/proto-plus_1721740393676/work
protobuf==4.24.3
pulsar-client @ file:///D:/bld/pulsar-client_1695729213506/work/dist/pulsar_client-3.3.0-cp311-cp311-win_amd64.whl#sha256=c5e723de8de2e43992cf1acf1e4c072a7f2de99ce53380bff9fc388cdb8aa723
pyasn1 @ file:///C:/b/abs_f15ydy2f_9/croot/pyasn1_1729239810559/work
pyasn1_modules @ file:///home/conda/feedstock_root/build_artifacts/pyasn1-modules_1733324602540/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic @ file:///C:/b/abs_27dx58x550/croot/pydantic_1734736090499/work
pydantic-settings @ file:///C:/b/abs_fe1okp6jbe/croot/pydantic-settings_1730800848545/work
pydantic_core @ file:///C:/b/abs_bdosz7qwys/croot/pydantic-core_1734726071532/work
Pygments @ file:///C:/b/abs_fay9dpq4n_/croot/pygments_1684279990574/work
pygraphviz @ file:///D:/bld/pygraphviz_1727646105667/work
PyJWT @ file:///C:/b/abs_03dm8926m0/croot/pyjwt_1730786800571/work
pyOpenSSL @ file:///C:/b/abs_61vvbgrloc/croot/pyopenssl_1723651600236/work
PyPika @ file:///home/conda/feedstock_root/build_artifacts/pypika_1734974148700/work
pyproject_hooks @ file:///C:/b/abs_0a_vjpyjzx/croot/pyproject_hooks_1679584449418/work
pyreadline3 @ file:///C:/ci_311/pyreadline3_1676439037239/work
PySocks @ file:///C:/ci_311/pysocks_1676425991111/work
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1733243180666/work
PyYAML @ file:///C:/b/abs_14xkfs39bx/croot/pyyaml_1728657968772/work
regex @ file:///C:/b/abs_5cm86yjgo3/croot/regex_1726670543261/work
requests @ file:///C:/b/abs_c3508vg8ez/croot/requests_1731000584867/work
requests-oauthlib @ file:///C:/b/abs_faw0a7_wag/croot/requests-oauthlib_1720615036938/work
requests-toolbelt @ file:///C:/b/abs_2fsmts66wp/croot/requests-toolbelt_1690874051210/work
rich @ file:///C:/b/abs_8b92fzmygg/croot/rich_1732638991774/work
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
shellingham @ file:///C:/ci_311/shellingham_1676431367488/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio @ file:///C:/b/abs_3akdewudo_/croot/sniffio_1705431337396/work
soupsieve @ file:///C:/b/abs_bbsvy9t4pl/croot/soupsieve_1696347611357/work
SQLAlchemy @ file:///C:/b/abs_7duxw5rxx8/croot/sqlalchemy_1725885067126/work
starlette @ file:///C:/b/abs_584arzjt6c/croot/starlette-recipe_1724683216853/work
sympy @ file:///C:/b/abs_4ay0cgwu2w/croot/sympy_1734629241647/work
tenacity @ file:///C:/b/abs_d2_havtscu/croot/tenacity_1721222514290/work
tiktoken @ file:///D:/bld/tiktoken_1728084112412/work
tokenizers @ file:///C:/b/abs_385x_d6rc8/croot/tokenizers_1732129631761/work
tomli @ file:///C:/ci_311/tomli_1676422027483/work
tqdm @ file:///C:/b/abs_77wju137gk/croot/tqdm_1724853945787/work
typer @ file:///C:/b/abs_2bk0z16lq1/croot/typer_1684251920157/work
typing-inspect @ file:///C:/b/abs_7eg5ofvujb/croot/typing_inspect_1695742119921/work
typing_extensions @ file:///C:/b/abs_0ffjxtihug/croot/typing_extensions_1734714875646/work
urllib3 @ file:///C:/b/abs_9a_f8h_bn2/croot/urllib3_1727769836930/work
uvicorn @ file:///C:/b/abs_0a5pprsdq4/croot/uvicorn-split_1732662019530/work
watchfiles @ file:///C:/b/abs_498lkbc06c/croot/watchfiles_1732647662605/work
websocket-client @ file:///C:/b/abs_5dmnxxoci9/croot/websocket-client_1715878351319/work
websockets @ file:///C:/b/abs_4b8uy0tips/croot/websockets_1678966801749/work
win-inet-pton @ file:///C:/ci_311/win_inet_pton_1676425458225/work
wrapt @ file:///C:/ci_311/wrapt_1676432805090/work
yarl @ file:///C:/b/abs_281qby2vim/croot/yarl_1732546854547/work
zipp @ file:///C:/b/abs_2fcpcg89my/croot/zipp_1732630746332/work
